<VirtualHost *:80>
        ServerAdmin webmaster@localhost
	ServerName {{ item.virtual_host }}
	ServerAlias www.{{ item.virtual_host }}
        DocumentRoot /var/www/{{ item.virtual_host }}
	
	<Directory "/var/www/{{ item.virtual_host }}">
		Options +FollowSymLinks
		AllowOverride all
		Require all granted
	</Directory>

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>

